/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c1 {
   status = "okay";
   max30102@57 {
      compatible = "maxim,max30102";
      reg = <0x57>;
      status = "okay";
      label = "MAX30102";
   };
};